<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/flower-icon.png"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
   <% for(i in data){ %>
    <section class="section secondary-color-bg">
        <div class="centered-container">
            <h1 class="decorated-title font-secondary main-color">
                <span class="main-color-emphasized"><%=data[i].name%></span>
                Inventory</h1>
            <div class="separator"></div>
        </div>
        <div class="gallery">
            <%var x=0%>
            <% for(j in categories){ if(data[i].id == categories[j].categoryid){%>
                <%x=x+1%>
            <div class="photo-box" data-id="<%=categories[j].id%>">
                <img class="photo-box-image" src="<%=categories[j].imageurl%>"></img>
                <div class="photo-box-title font-secondary main-color-emphasized">
                    <a class="link" href="item/<%=categories[j].id%>"><%=categories[j].name%></a>
                </div>
            </div>
            <%}}if(x==0){%>
                <div></div>
                <div class="centered-container">
                    <h1 class="decorated-title font-secondary main-color">
                        No items in this category
                    </h1>
                </div>
            <%}%>
        </div>
    </section>
    <%}%>

</main>

<%- include(`partials/footer`); %>

</body>

</html>